<nav aria-label="Постраничная навигация">
    <ul class="pagination mt-3">
        {% if page_obj.number > 3 %}
            <li class="page-item mr-2">
                <a class="page-link" href="?page=1" aria-label="Первая">
                    <span aria-hidden="true">В начало</span>
                </a>
            </li>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page_num }}
                        <span class="sr-only">(текущая)</span>
                    </span>
                </li>
            {% elif page_num > page_obj.number|add:-3 and page_num < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
            <li class="page-item ml-2">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                    <span aria-hidden="true">В конец</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>